.example-card {
    margin-top: 10px;
    max-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(199, 199, 199, 0.74);
    transition: 0.3s;
    color: black;
}

h1{
    color: white;
}

.example-card:hover{
    box-shadow: 0 8px 16px 0 rgba(199, 199, 199, 0.74);
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}


a{
    text-decoration: none;
}


