
<mat-card class="card-blog">

                <div fxLayout="column 50% row" fxLayoutAling="center" fxLayout.xs="column" >
                        <input class="color-white" [(ngModel)]="id" type="number" placeholder="Id">
                        <input class="color-white" [(ngModel)]="name" type="text" placeholder="Name">
                        <input class="color-white" [(ngModel)]="image" type="text" placeholder="image">
                        <textarea class="color-white" [(ngModel)]="desc" type="text" placeholder="Desc"></textarea>
                        <button  mat-raised-button color="primary" (click)="registrarHeroe()">Registrar</button>
                            
                </div>

</mat-card>