
 

.example-spacer {
    flex: 1 1 auto;
}


.toolbar{
  background-color: black;
}

.toolbar .title{
  color: #FFC107;
}


mat-menu{
  padding: 0;
  margin: 0;
}


.menuC{
  background-color: black;
 
}
.menuC mat-icon{
  color:#FFC107;
}

.menuC button{
  color: #FFC107;
}