@import '~@angular/material/theming';

@include mat-core();

$my-theme-primary:mat-palette($mat-amber);
$my-theme-accent:  mat-palette($mat-green, A200, A100, A400);
$my-theme-warm: mat-palette($mat-teal);
$my-theme:mat-light-theme($my-theme-primary,$my-theme-accent, $my-theme-warm);

@mixin mat-input-theme($theme) {
    
    mat-form-field{
        color: white;
        border-color: white;
    }
}

@include mat-input-theme($my-theme);
@include angular-material-theme($my-theme);
@include mat-input-theme($my-theme);
